/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

.vscode

# JSON adapter test file
db.json

# SQLite adapter test file
db.sqlite3

.env
